<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://js.stripe.com/v3/" defer></script>
  <script src="/js/store.js" defer></script>
  <title>Piece of Cake Bakery</title>
</head>

<body>
    <header class="main-header">
      <nav class="nav main-nav">
        <li>
          <p><a class="link" href="/">Home</a></p>
        </li>
        <li>
          <p><a class="link" href="/about">About</a></p>
        </li>
        {{#if loggedIn}}
          <li>
            <p><a class="link" href="/store">Store</a></p>
          </li>
          <li>
            <p><button id="logout-btn" class="btn-no-style">Logout</button> </p>
          </li>

        {{else}}
          <li>
            <p><a class="link" href="/login">Login</a></p>
          </li>
        {{/if}}
      </nav>
      <h1 class="store-name store-name-large">Piece of Cake</h1>
    </header>

  <main class="d-flex min-vh-100">
        <section class="container content-section">
            <h2 class="section-header">Bakery Items</h2>
            <div class="shop-items">
                {{#each stores as |store|}}
                    <div class="shop-item" data-item-id="{{store.id}}">
                        <span class="shop-item-title">{{store.title}}</span>
                        <img class="shop-item-image" src="/images/{{store.imgName}}">
                        <div class="shop-item-details">
                            <span class="shop-item-price">${{store.price}}</span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </section>
            <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
  </main>